<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AE automation Suite">
	<listeners>
		<listener class-name="com.ae.listeners.ReportListeners"></listener>
		<listener class-name="com.ae.listeners.AnnotationTransformer"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.ae.tests.LogoutTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
AE automation Suite -->
